<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/catalog.css">
    <link rel="stylesheet" href="/admin-dashboard.css">
    <title>Borrow - Library Management System</title>
</head>
<body>
    <header class="header">
        <h1 class="website-name">Borrow</h1>
        <p class="description">Borrow book: <%= uniqueCode %>.</p>
    </header>

    <main class="main">
        
    </main>
        
    <footer class="footer">
        <p>&copy; 2023 Library Management System. Developed by Anurag Yadav</p>
    </footer>
    <script src="/borrow.js"></script>
</body>
</html>
